{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="">
    <title></title>
</head>
<body>
    <header>
        <div class="main">
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'tracker-home' %}">Home</a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href="">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'tracker-home' %}">Home</a></li>
                    <li><a href="">Login</a></li>
                    <li><a href="">Register</li>
                {% endif %}
            </ul>
        </div>
    </header>

    {% block content %}{% endblock %}


</body>
</html>
