/**{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}*/


body.main {
  background-color: #fff;
  color: #000;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.topnav-left {
  float: left;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

header.page-header {
    background-color: black;
    height: 75px;
    min-width: 120px;
    padding: 20px;
    text-align: center;
}

.heading {
  color: white;
}

/***************************************** Equipment *****************************/


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  min-width: 300px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

div.equipment {
    margin-left:  25%;
    margin-right: 25%;
    margin-top:   100px;

}

.left-div-table {
  float: left;
}

.right-div-table {
  float: right;
}



/***********************************************************************************/


/***************************************** Tickets *****************************/


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  min-width: 300px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

div.customer {
    margin-left:  5%;
    margin-right: 25%;
    margin-top:   100px;

}

.left-customer-table {
  float: left;
}

.right-customer-table {
  float: right;
}


/***********************************************************************************/
/***************************************** Tickets *****************************/


.left-customer-table {
  float: left;
}

.middle-customer-table {
  float: left;
}

.right-customer-table {
  float: right;
}

/***********************************************************************************/
